* {
  box-sizing: border-box;
}

body {
  background-color: #123;
}

div.restrainingContainer {
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  height: 100vh;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 1200px) {
  div.restrainingContainer {
    border: none;
    background-color: purple;
  }
}
@media (max-width: 1024px) {
  div.restrainingContainer {
    background-color: blue;
  }
}
@media (max-width: 768px) {
  div.restrainingContainer {
    background-color: green;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  div.restrainingContainer {
    background-color: orange;
  }
}

section:first-of-type {
  flex: 0 1 400px;
  background-image: url("./src/signingImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
@media (max-width: 1200px) {
  section:first-of-type {
    flex: 0 1 350px;
  }
}
@media (max-width: 1024px) {
  section:first-of-type {
    flex: 0 1 300px;
  }
}
@media (max-width: 768px) {
  section:first-of-type {
    flex: 0 1 0;
    background-position: left -15em;
    background-size: 100%;
  }
}
section:first-of-type > .banner {
  width: 100%;
  margin: 5em 0 0 0;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #DDD;
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  section:first-of-type > .banner {
    margin: 1em 0;
  }
}
section:first-of-type > .banner > svg {
  flex: 1 0 0;
  height: 60px;
  width: 60px;
  font-size: 0.5rem;
  stroke: #e3dddc;
  fill: #e3dddc;
}
section:first-of-type > .banner > p {
  flex: 1 0 0;
  font-size: 3rem;
  text-align: right;
}

section:last-of-type {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e3dddc;
}
section:last-of-type > .container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}
section:last-of-type > .container > p {
  width: 100%;
  padding: 1em 0;
  line-height: 1.25em;
}
section:last-of-type > .container > p:first-of-type::before {
  content: "L";
  border: 1px solid #e3dddc;
  padding: 0.05em;
  margin-right: 0.15em;
  position: relative;
  font-size: 2em;
  top: -0.25em;
}
section:last-of-type > .container > p:last-of-type {
  padding-top: 0em;
}

form {
  border-radius: 5px;
  background-color: #DDD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
  color: rgb(15, 15, 15);
}
@media (max-width: 480px) {
  form {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

form > * {
  flex: 0 0 48%;
  margin-top: 0.7em;
}
@media (max-width: 480px) {
  form > * {
    flex: 1 0 0;
    margin-top: 0;
  }
}

button[type=submit] {
  flex: 0 0 100%;
}
@media (max-width: 480px) {
  button[type=submit] {
    flex: 1 0 0;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroup > input {
  padding: 0.6em;
}
.inputGroup > label {
  color: #123;
  position: relative;
}
.inputGroup > label::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #123;
  top: 90%;
}
.inputGroup > label::after {
  content: "";
  display: block;
  height: 2px;
  width: 10%;
  position: absolute;
  background-color: green;
  top: 90%;
  transition: width 0.5s;
}
.inputGroup > label.valid::after {
  content: "";
  width: 100%;
}

.passwordInputGroup > .inputGroup:nth-of-type(2) {
  margin-top: 0.7em;
}

.passwordValidatorGroup > ul {
  list-style-type: circle;
  padding-left: 1.5em;
}
.passwordValidatorGroup > ul > li {
  font-size: 0.75em;
}/*# sourceMappingURL=index.css.map */