//Layout
$containerPadding: .5em;
$inputPadding: .2em;
$marginCenterAlign: 0 auto;
$validityBarSize: 5px;

//Breakpoints
$layoutBreakpointLarge: 1200px;
$layoutBreakpointMedium: 1024px;
$layoutBreakpointSmall: 768px;
$layoutBreakpointExtraSmall: 480px;
$layoutSideImageSizeLarge: 400px;
$layoutSideImageSizeMedium: 350px;
$layoutSideImageSizeSmall: 300px;

//Colors
$colorTextDark: rgba(15,15,15,1);
$colorDark: #123;
$colorWhite: #e3dddc;
$colorValid: #1d9612;
$colorInvalid: #961912;
$colorBorderHighlight: rgba(255, 255, 255, .6);
$colorBackgroundSemiTransparent: rgba(0,0,0,.5);


// @media (max-width: $layoutBreakpointLarge) {
//   background-color: red;
// }
// @media (max-width: $layoutBreakpointMedium) {
//   background-color: blue;
// }
// @media (max-width: $layoutBreakpointSmall) {
//   background-color: green;
// }
// @media (max-width: $layoutBreakpointExtraSmall) {
//   background-color: orange;
// }

* {
  box-sizing: border-box;
}
body {
  background-color: $colorDark;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-content: stretch;
}
div.restrainingContainer {
  min-width: 320px;
  max-width: $layoutBreakpointLarge;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: darkgoldenrod;
  @media (max-width: $layoutBreakpointLarge) {
    border: none;
    background-color: purple;
  }
  @media (max-width: $layoutBreakpointMedium) {
    background-color: blue;
  }
  @media (max-width: $layoutBreakpointSmall) {
    background-color: green;
    flex-direction: column;
  }
  @media (max-width: $layoutBreakpointExtraSmall) {
    background-color: orange;
  }
}
section:first-of-type {
  flex: 0 1 $layoutSideImageSizeLarge;
  background-image: url('./src/signingImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-right: 4px solid $colorBorderHighlight;
  @media (max-width: $layoutBreakpointLarge) {
    flex: 0 1 $layoutSideImageSizeMedium;
  }
  @media (max-width: $layoutBreakpointMedium) {
    flex: 0 1 $layoutSideImageSizeSmall;
  }
  @media (max-width: $layoutBreakpointSmall) {
    flex: 0 1 0;
    background-position: left -15em;
    background-size: 100%;
  }
  &>.banner {
    width: 100%;
    margin: 5em 0 0 0;
    padding: $containerPadding;
    background-color: $colorBackgroundSemiTransparent;
    color: #DDD;
    display: flex;
    gap: $containerPadding;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: $layoutBreakpointSmall) {
      margin: 1em 0;
    }

    &>svg {
      flex: 1 0 0;
      height: 60px;
      width: 60px;
      font-size: .5rem;
      stroke: $colorWhite;
      fill: $colorWhite;
    }

    &>p {
      flex: 1 0 0;
      font-size: 3rem;
      text-align: right;
    }
  }
}
section:last-of-type {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorWhite;

  &>.container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    overflow: auto;

    &>p {
      width: 100%;
      padding: 1em 0;
      line-height: 1.25em;
    }

    &>p:first-of-type::before {
      content: 'L';
      border: 4px solid $colorWhite;
      border-radius: 4px;
      padding: .05em .2em;
      margin-right: .15em;
      position: relative;
      font-size: 2em;
      top: -.25em;
    }

    &>p:last-of-type {
      padding-top: 0em;
    }
  }
}
form {
  border-radius: 5px;
  background-color: #DDD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5em;
  padding: $containerPadding;
  color: rgba(15, 15, 15, 1);
  margin-bottom: 2em;
  @media(max-width: $layoutBreakpointExtraSmall){
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
form > * {
  flex: 1 0 300px;
  margin-top: .7em;
  @media(max-width: $layoutBreakpointExtraSmall){
    flex: 1 0 0;
    margin-top: 0;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  &>input {
    padding: $inputPadding;
    margin-top: .2em;
    font-size: 1.0rem;
    position: relative;
    width: 100%;
  }
  &>input:focus {
    outline: none;
  }
  &>.labelWrapper {
    position: relative;
  }
  &>.labelWrapper>label {
    color: #123;
    position: relative;
    font-size: 1.5rem;
  }
  &>.labelWrapper::before {
    content: '';
    display: block;
    height: $validityBarSize;
    width: 100%;
    position: absolute;
    background-color: #123;
    top: 90%;
  }
  &>.labelWrapper::after {
    content: '';
    display: block;
    height: $validityBarSize;
    width: 0%;
    position: absolute;
    background-color: transparent;
    top: 90%;
    transition: width .5s;
  }
  &>.labelWrapper.valid::after {
    content: '';
    background-color: $colorValid;
    width: 100%;
  }
  &>.labelWrapper.invalid::after {
    content: '';
    background-color: $colorInvalid;
    width: 100%;
  }
}
.labelWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.labelWrapper>.inputNoticeIcon {
  position: absolute;
  top: 100%;
  right: 0;
  height: 24px;
  width: 24px;
  transition: top .25s ease-in;
  &>svg{
    stroke: transparent;
    fill: $colorInvalid;
  }
}
.labelWrapper.invalid>.inputNoticeIcon {
  top: 0%;
}
.passwordInputGroup>.inputGroup:nth-of-type(2) {
  margin-top: .7em;
}
.passwordValidatorGroup {
  &>ul{
    list-style-type: circle;
    padding-left: 1.5em;
    &>li{
      font-size: .75em;
    }
  }
}
button[type="submit"]{
  margin-left: auto;
  margin-right: 4em;
  font-size: 1.25rem;
  flex: 0 0 8em;
  padding: $inputPadding;
  border: 2px solid $colorDark;
  border-radius: 5px;
  @media(max-width: $layoutBreakpointExtraSmall){
    flex: 1 0 0;
  }
}